{% extends "layout.html" %}

{% block pageTitle %}
  Create task
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            DWP Manage task
          </span>
        </span>
      </a>
    </div>
  </div>
</header>

{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      sandbox version
    </strong>
    <strong class="govuk-tag govuk-tag--red">
      Demo
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
      Forms and elements in this sandbox are for demo purposes only.
    </span>
  </p>
</div>
<br>
<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content" >
    <p class="govuk-body" style="max-width:none !important;">
      <a href="">Contact the Common Capabilities team</a> to find out more about the processes and requirements for the service.
    </p>
  </div>
</div>
<br>
  <a class="govuk-back-link" href="task-info-list-none">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Create task
      </h1>

      <form class="form" action="task-info-list" novalidate>
        <fieldset class="govuk-fieldset">

          <br>
          <div class="govuk-form-group">
            <label class="govuk-label" for="task-id">
              Enter Citizen ID
            </label>
            <p class="govuk-hint">This is the unique Citizen ID  (NiNo) for the task you are creating. </p>

        <div class="govuk-form-group">
          <label class="govuk-label" for="task-name">
            Enter task name
          </label>
          <p class="govuk-hint">For example 'Verify address' or 'Add new payment details' </p>

          <input class="govuk-input" id="tasks-name" name="task-name" type="text" ></div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="task-domain">
              Enter domain
            </label>
            <p class="govuk-hint">This is the domain name of your benefit. </p>
            <input class="govuk-input govuk-!-width-two-thirds" id="task-domain" name="task-domain" type="text" ></div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="task-url">
                Enter URL
              </label>
              <p class="govuk-hint"> This is the URL of where the task can be done.</p>
              <input class="govuk-input" id="task-url" name="task-url" type="text" ></div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="task-priority">
                Enter priority
              </label>
              <p class="govuk-hint">Prority for this task </p>
              <input class="govuk-input govuk-!-width-one-third" id="task-priority" name="task-priority" type="text" ></div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="task-subject">
                Enter subject
              </label>
              <p class="govuk-hint"> </p>
              <input class="govuk-input" id="task-subjecte" name="task-subject" type="text" ></div>

              <div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="task-subject">
                  Notes (optional)
                </label>

  <textarea class="govuk-textarea" id="more-detail" name="task-notes" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class="moj-add-anothe">
  <div class="govuk-form-group ">
<fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

<p class="govuk-heading-m">Matching attributes<span class="govuk-hint">Add all primary and other task matching attributes </span></p>
<br>
<label class="govuk-label" for="sort">
Select an attribute
</label>
<select class="govuk-select govuk-!-width-two-thirds" id="sort" name="sort">
<option value="published">-Select- </option>
<option value="published">Decision maker </option>
<option value="updated" >Processing agent</option>
<option value="comments">Specialist</option>
<option value="views">Team manager</option>
<option value="views">Leeds</option>
<option value="views">Newcastle</option>
<option value="views">New claims</option>
</select>
<br>
<br>
<br>
<p>Is this a primary task matching attribute?</p>
<div class="govuk-radios govuk-radios--inline">
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
<label class="govuk-label govuk-radios__label" for="changed-name">
Yes
</label>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
<label class="govuk-label govuk-radios__label" for="changed-name-2">
No
</label>
</div>
</div>

</fieldset>
</div>


<button class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">Add another attribute</button>
</div>
</div>
<p><strong>Can't see the agent attribute you want? </strong> &nbsp;<a href="/setup/attributes/add-attributes">Create task matching attribute</a> </p>
<p></p>


      </fieldset>



      <br><br><br>
      <button class="govuk-button" data-module="govuk-button">Create task</button>

      </form>

</div>
</div>



{% endblock %}
