{% extends "layout.html" %}

{% block pageTitle %}
  Change task details
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            DWP Manage task
          </span>
        </span>
      </a>
    </div>
  </div>
</header>

{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      sandbox version
    </strong>
    <strong class="govuk-tag govuk-tag--red">
      Demo
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
      Forms and elements in this sandbox are for demo purposes only.
    </span>
  </p>
</div>
<br>
<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content" >
    <p class="govuk-body" style="max-width:none !important;">
       <a href="">Contact the Common Capabilities team</a> to find out more about the processes and requirements for the service.
    </p>
  </div>
</div>
<br>
  <a class="govuk-back-link" href="task-info-list">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Change task details
      </h1>

      <form class="form" action="view-task-details" method="post">
        <fieldset class="govuk-fieldset">

          <br>
          <div class="govuk-form-group">
            <label class="govuk-label" for="task-id">
              Citizen ID
            </label>
            <p class="govuk-hint">This is the unique Citizen ID  (NiNo) for the task you are creating. </p>

            <input class="govuk-input govuk-!-width-two-thirds" id="task-id" name="task-id" type="text" value="{{ data['task-id'] | default('XXX XXX XXX') }}"></div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="task-name">
             Task name
          </label>
          <p class="govuk-hint">For example 'Verify address' or 'Add new payment details' </p>

          <input class="govuk-input" id="tasks-name" name="task-name" type="text" value="{{ data['task-name'] | default('Add address to claimant') }}"></div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="task-domain">
               Domain
            </label>
            <p class="govuk-hint">This is the domain name of your benefit. </p>
            <input class="govuk-input govuk-!-width-two-thirds" id="task-domain" name="task-domain" type="text" value="{{ data['task-domain'] | default('Winter fuel') }}" ></div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="task-url">
                URL
              </label>
              <p class="govuk-hint"> This is the URL of where the task can be done.</p>
              <input class="govuk-input" id="task-url" name="task-url" type="text"value="{{ data['task-url'] | default('https://url-task-internal-for-agent.dwp.gov.uk') }}" ></div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="task-priority">
                 Priority
              </label>
              <p class="govuk-hint">Prority for this task </p>
              <input class="govuk-input govuk-!-width-one-third" id="task-priority" name="task-priority" type="text" value="{{ data['task-priority'] | default('High') }}"></div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="task-subject">
                Subject
              </label>
              <p class="govuk-hint"> </p>
              <input class="govuk-input" id="task-subjecte" name="task-subject" type="text" value="{{ data['task-subject'] | default('Winter fuel') }}" ></div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="task-subject">
                  Notes (optional)
                </label>

                <textarea class="govuk-textarea" id="more-detail" name="task-notes" rows="5" value="{{ data['task-notes']}}">{{ data['task-notes']}}</textarea>
              </div>

              <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--hidden">

              <div class="govuk-form-group">

                <p class="govuk-heading-m">Matching agent attributes</p>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <label class="govuk-label" for="sort">
                Selected attribute
                </label>
                <select class="govuk-select govuk-!-width-two-thirds" id="sort" name="sort">
                <option value="published">-Select- </option>
                <option value="published" selected>Decision maker </option>
                <option value="updated" >Processing agent</option>
                <option value="comments" >Specialist</option>
                <option value="views">Team manager</option>
                <option value="views">Leeds</option>
                <option value="views">Newcastle</option>
                <option value="views">New claims</option>
                </select>
                <br>
                <br>
                <br>
                <p>Is this a primary task matching attribute?</p>
                <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes" {{ checked("changed-name", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="changed-name" >
                Yes
                </label>
                </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                No
                </label>
                </div>
                </div>
                <br>
                <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-4" data-module="govuk-button">Remove</button>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      </fieldset>

      <br><br>
      <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
