{% extends "layout.html" %}

{% block pageTitle %}
  Add new payment details
{% endblock %}


{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div>
      <a href="/index-attributes-agentinfo-task-done" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            DWP Manage task
          </span>
        </span>
      </a>
      <br><br>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide navigation menu">Menu</button>
        <nav>
          <ul id="navigation" class="govuk-header__navigation  " aria-label="Navigation menu">
            <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
              <a class="govuk-header__link" href="agent-landing">
                My tasks
              </a>
            </li>

            <li class="govuk-header__navigation-item ">
              <a class="govuk-header__link" href="my-clearances">
                My clearances
              </a>
            </li>

          </ul>
        </nav>
    </div>
  </div>
</header>

{% endblock %}



{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Demo
    </strong>
    <span class="govuk-phase-banner__text">
      This is a demo sandbox version of the service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<br>


{% endblock %}




{% block content %}

<!-- Task details -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Add payment details
      </h1>

      <p></p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Task identifier
          </dt>
          <dd class="govuk-summary-list__value">
              DWP2929
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date created
          </dt>
          <dd class="govuk-summary-list__value">
              28/01/2021
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--green">
              Active
            </strong>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subject
          </dt>
          <dd class="govuk-summary-list__value">
            Claimant name and bank details don't match.
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Priority
          </dt>
          <dd class="govuk-summary-list__value">
            High
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Notes
          </dt>
          <dd class="govuk-summary-list__value">
            Check with claimant and add new payment details to claimant account.
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assigned by
          </dt>
          <dd class="govuk-summary-list__value">
            System
          </dd>

        </div>


      </dl>

      <br>
      <a href="bluezone-process-ap"><button class="govuk-button" data-module="govuk-button">Start task </button></a>

      <br>      <br>

      <p><a href="i-cannot-do-this-task-3">I cannot do this task</a></p>
    </div>



  </div>

{% endblock %}
