{% extends "layout.html" %}

{% block pageTitle %}
  Select Agent interface
{% endblock %}


{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            DWP Manage task
          </span>
        </span>
      </a>
    </div>
  </div>
</header>

{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Demo
    </strong>
    <span class="govuk-phase-banner__text">
      This is a demo sandbox version of the service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<br>
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/index-attributes-agentinfo-task-done">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">Agent interface examples</a>
  </li>

</ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <p class="govuk-caption-l" style="margin-bottom:0px;">Sandbox</p>Agent interface examples

      </h1>

      <div class="govuk-inset-text">
      <p><strong>For demo only</strong></p> <p>Interface matching is done in the backend based on agent authentication and profile</p>
      </div>
      <br>

      <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Agent name</th>
      <th scope="col" class="govuk-table__header">Agent attributes</th>
      <th scope="col" class="govuk-table__header"></th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Arthur Gernow</td>
      <td class="govuk-table__cell">Processing agent </td>
      <td class="govuk-table__cell"><a href="agent-landing">View interface</a></td>

    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Paul James</td>
      <td class="govuk-table__cell">Decision maker, Processing agent, Newcastle</td>
      <td class="govuk-table__cell"><a href="agent-landing">View interface</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">James Hammersmith</td>
      <td class="govuk-table__cell">Processing agent, Leeds</td>
      <td class="govuk-table__cell"><a href="agent-landing">View interface</a></td>

    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">John Lee</td>
      <td class="govuk-table__cell">Decision maker, Processing agent </td>
      <td class="govuk-table__cell"><a href="agent-landing">View interface</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Lucius Tiberius</td>
      <td class="govuk-table__cell">Specialist, Processing agent </td>
      <td class="govuk-table__cell"><a href="agent-landing">View interface</a></td>

    </tr>

  </tbody>
</table>

    </div>
  </div>

{% endblock %}
