{% extends "layout.html" %}

{% block pageTitle %}
  DWP Manage tasks
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div>
      <a href="/index-pages" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            DWP Manage task
          </span>
        </span>
      </a>
      <br><br>

    </div>
  </div>
</header>

{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-tag--orange">
      To be tested
    </strong> &nbsp;
    <strong class="govuk-tag govuk-tag--blue">
      Sandbox version
    </strong> &nbsp;
    <strong class="govuk-tag govuk-tag--yellow">
      Demo
    </strong>
    &nbsp;

    <span class="govuk-phase-banner__text">
      &nbsp;Forms and elements in this sandbox are for demo purposes only.
    </span>
  </p>
</div>

<br>

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Task completed</h1>

      </div>

<br><br><br><br>
      <a href="agent-landing"><button class="govuk-button" data-module="govuk-button">
        End task and go to my tasks
      </button>
      </a>
      <br><br>
      <br><br>
      <!-- <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p> -->


    </div>
  </div>

{% endblock %}
