{% extends "layout.html" %}

{% block pageTitle %}
  Agent attributes list
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            DWP Manage task
          </span>
        </span>
      </a>
    </div>
  </div>
</header>

{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      sandbox version
    </strong>
    <strong class="govuk-tag govuk-tag--red">
      Demo
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
      Forms and elements in this sandbox are for demo purposes only.
    </span>
  </p>
</div>
<br>
<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content" >
    <p class="govuk-body" style="max-width:none !important;">
       <a href="">Contact the Common Capabilities team</a> to find out more about the processes and requirements for the service.
    </p>
  </div>
</div>
<br>
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/index-pages">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">Task matching attributes</a>
  </li>

</ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <!-- <span class="govuk-caption-l">Sandbox</span> -->
        Task matching attributes
      </h1>


      <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" style="width:50%;">Attribute name</th>
        <th scope="col" class="govuk-table__header">Group</th>
        <th scope="col" class="govuk-table__header">Actions</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Decision maker</td>
        <td class="govuk-table__cell">Role</td>
        <td class="govuk-table__cell"><a href="change-attribute">Change</a></td>
        <td class="govuk-table__cell"><a href="remove-attribute">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Leeds</td>
        <td class="govuk-table__cell">Location</td>
        <td class="govuk-table__cell"><a href="change-attribute">Change</a></td>
        <td class="govuk-table__cell"><a href="remove-attribute">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Processing agent</td>
        <td class="govuk-table__cell">Role</td>
        <td class="govuk-table__cell"><a href="change-attribute">Change</a></td>
        <td class="govuk-table__cell"><a href="remove-attribute">Remove</a></td>

      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Specialist</td>
        <td class="govuk-table__cell">Role</td>
        <td class="govuk-table__cell"><a href="change-attribute">Change</a></td>
        <td class="govuk-table__cell"><a href="remove-attribute">Remove</a></td>

      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Newcastle</td>
        <td class="govuk-table__cell">Location</td>
        <td class="govuk-table__cell"><a href="change-attribute">Change</a></td>
        <td class="govuk-table__cell"><a href="remove-attribute">Remove</a></td>

      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Team leader</td>
        <td class="govuk-table__cell">Role</td>
        <td class="govuk-table__cell"><a href="change-attribute">Change</a></td>
        <td class="govuk-table__cell"><a href="remove-attribute">Remove</a></td>
      </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ data['attribute-name'] | default('Team manager') }}</td>
      <td class="govuk-table__cell">{{ data['attribute-group'] | default('Role') }}</td>
      <!-- <td class="govuk-table__cell">{{ data['attribute-uid'] | default('DWP000048') }}</td> -->
      <td class="govuk-table__cell"><a href="change-attribute">Change</a></td>
      <td class="govuk-table__cell"><a href="remove-attribute">Remove</a></td>
    </tr>






  </tbody>
</table>

<p><a href="add-attributes-additional">Create attribute </a></p>
<br><br>
<a href="/index-pages"><button class="govuk-button" data-module="govuk-button">Continue</button></a>

    </div>
  </div>

{% endblock %}
