{% extends "layout.html" %}

{% block pageTitle %}
  Remove attribute
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            DWP Manage task
          </span>
        </span>
      </a>
    </div>
  </div>
</header>

{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Demo
    </strong>
    <span class="govuk-phase-banner__text">
      This is a demo sandbox version of the service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<br>
  <a class="govuk-back-link" href="agent-attributes">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Do you want to remove this attribute?
      </h1>

        <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Attribute name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['attribute-name'] }}
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Unique identifier
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['attribute-uid'] }}
          </dd>
        </div>

      </dl>


      <form class="form" action="/setup/attributes/remove-attributes" method="post">
        <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

          <div id="changed-name-hint" class="govuk-hint">
            <br>This will remove the attribute from the list permanently.
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="remove-attribute" name="remove-attribute" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="remove-attribute">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="remove-attribute-2" name="remove-attribute" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
        </div>

      <br>
      <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
