
{% extends "layout.html" %}

{% block pageTitle %}
  DWP Manage task
{% endblock %}


{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            DWP Manage task
          </span>
        </span>
      </a>
    </div>
  </div>
</header>

{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      sandbox version
    </strong>
    <strong class="govuk-tag govuk-tag--red">
      Demo
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
      Forms and elements in this sandbox are for demo purposes only.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><span class="govuk-caption-l">Sandbox</span>DWP Manage task </h1>
    <br>
  </div>
</div>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

          <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Attributes, agents and tasks</h1>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  </div>
  </div>


<div class="govuk-grid-row">


  <div class="govuk-grid-column-one-third">

    <h2 class="app-task-list__section">
     Attributes
    </h2>

    <p class="govuk-hint">Task matching attributes used to match tasks and agents.</p>
    <br>

    <p>Attributes examples</p>

    <ul class="govuk-list govuk-list--bullet">

      <li>
        <a class="govuk-link" href="/setup/attributes/agent-attributes-none">View list of task matching attributes</a>
      </li>
    </ul>

      <br>
      <p>Create, update and delete</p>

      <ul class="govuk-list govuk-list--bullet">


<li>
  <a class="govuk-link" href="/setup/attributes/add-attributes" >Create new attribute</a>
</li>
<li>
  <a class="govuk-link" href="/setup/attributes/change-attribute">Change or update attribute details</a>
</li>
<li>
  <a class="govuk-link" href="/setup/attributes/remove-attribute" >Delete attribute</a>
</li>
<br>


</ul>

</div>

<!-- Agent information -->
<div class="govuk-grid-column-one-third">

  <h2 class="app-task-list__section">
   Agents
  </h2>

  <p class="govuk-hint">Creating agents and adding attributes to agents</p>
  <br>

  <p>Agent examples</p>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <a class="govuk-link" href="/setup/agents/agents-list-none">View list of agents</a>
    </li>
  </ul>

    <br>
    <p>Create, update and delete</p>

    <ul class="govuk-list govuk-list--bullet">


<li>
<a class="govuk-link" href="/setup/agents/add-agent" >Create new agent</a>
</li>
<li>
<a class="govuk-link" href="/setup/agents/change-agent">Change or update agent details</a>
</li>
<li>
<a class="govuk-link" href="/setup/agents/remove-agent" >Delete agent</a>
</li>
<br>


</ul>

</div>



<!-- Task information -->
<div class="govuk-grid-column-one-third">

  <h2 class="app-task-list__section">
   Tasks
  </h2>

  <p class="govuk-hint">Creating a task with manditory and optional matching attributes.</p>
  <br>

  <p>Task examples</p>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <a class="govuk-link" href="/setup/task-information/task-info-list-none">View list of tasks</a>
    </li>
  </ul>

    <br>
    <p>Create, update and delete</p>

    <ul class="govuk-list govuk-list--bullet">


<li>
<a class="govuk-link" href="/setup/task-information/add-task" >Create new task</a>
</li>
<li>
<a class="govuk-link" href="/setup/task-information/view-task-details">View task details</a>
</li>

<li>
<a class="govuk-link" href="/setup/task-information/change-task-details">Change or update task details</a>
</li>
<li>
<a class="govuk-link" href="/setup/task-information/remove-task" >Delete task</a>
</li>
<br>


</ul>

</div>

</div>






<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<br>
<br>
          <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Task matching demo</h1>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  </div>
  </div>


    <div class="govuk-grid-row">

      <!-- Task matching information -->
      <div class="govuk-grid-column-one-half">

        <h2 class="app-task-list__section">
         Task allocation and matching
        </h2>

        <p class="govuk-hint">Tasks matched to agents with the relevant attributes.</p>
        <br>

        <!-- <p>Example list</p> -->

        <ul class="govuk-list govuk-list--bullet">

          <li>
            <a class="govuk-link" href="/view/select-agent-tm">View list of tasks matched to an agent</a>
          </li>
        </ul>

          <br>

      </div>





</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<br>
<br>
          <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Agent interface     <strong class="govuk-tag govuk-tag--orange">
                To be tested
              </strong></h1>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  </div>
  </div>


      <div class="govuk-grid-row">




        <!-- Agent Interfaces-->
        <div class="govuk-grid-column-two-thirds">

          <h2 class="app-task-list__section">
           Frontend for agents to view, complete and manage task
          </h2>

          <!-- <p class="govuk-hint">Frontend for agents to view, complete and manage tasks</p> -->
          <br>

          <!-- <p>Example list</p> -->

          <ul class="govuk-list govuk-list--bullet">

            <li>
              <a class="govuk-link" href="/agent-frontends/agents-dm/select-agent">View agent interface examples</a>
            </li>
          </ul>

            <br>

            <h2 class="app-task-list__section">
             Mockup of E2E service
            </h2>
            <p>Example task 'verify address'</p>

            <ul class="govuk-list govuk-list--bullet">

              <li>
                <a class="govuk-link" href="/mockup-va/agent-landing">View 'verify address' task mockup</a>
              </li>
            </ul>

        </div>


  </div>

{% endblock %}
